.config__root {
  .middle {
    // width: 1280px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
  }
  .top {
    margin-top: 30px;
  }
  .topOne {
    margin-left: 20px;
  }
  .mid {
    margin-top: 30px;
  }
  .midLeft {
    float: left;
    margin-left: 10px;
    text-align: right;
  }
  .midMid {
    float: left;
    margin-left: 20px;
    text-align: right;
  }
  .midRight {
    float: left;
    margin-left: 20px;
    text-align: left;
    margin-right: 30px;
  }
  .guanxi {
    margin-top: 25px;
  }
  .bDer {
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid black;
  }
  .ssji {
    margin-top: 10px;
  }
}
