.TemplateDialog__root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vh;
  overflow-y: auto;

  .templateImgUrl {
    width: calc(375px / 2);
    height: calc(660px / 2);
    background: #cccccc;
    margin-left: 12px;
    margin-top: 20px;
  }

  .templateImgUrlSelected {
    width: calc(375px / 2);
    height: calc(660px / 2);
    background: #00cccc;
    margin-left: 12px;
    margin-top: 20px;
  }
}
