.AdminLayout {
  // min-height: calc(~'100vh - 64px');
  // height: calc(~'100vh - 64px');
  // max-height: calc(~'100vh - 64px');
  // overflow: scroll;

  .AdminContent {
    height: calc(~'100vh - 64px');
    overflow: scroll;
  }

  .nav-header {
    display: flex;
    flex-direction: row;

    .nav-menu {
      flex: 1;
    }

    .logo {
      color: #fff;
      width: 150px;
      height: 31px;
    }

    .user {
      color: #fff;
      width: 120px;
      height: 31px;
    }
  }
}
