.DetailPageInfo__root {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  h4 {
    font-size: 18px;
    font-weight: 500;
    color: #252b3a;
    line-height: 25px;
  }
  .info {
    border: 1px solid #aeb0b8;
    .item-name {
      font-size: 16px;
      font-weight: 500;
      color: #252b3a;
      line-height: 36px;
    }
    .title {
      font-size: 12px;
      font-weight: 400;
      color: #8a8e99;
      line-height: 30px;
    }
    .item {
      border-bottom: 1px solid #aeb0b8;
      padding: 22px 38px 20px;
    }
    .end {
      padding: 22px 38px 20px;
    }
    .title-box {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      .pic-box {
        margin: 0 16px;
        width: 148px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ababab;
        img {
          width: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
