.TravelInfo__root {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  h4 {
    font-size: 18px;
    font-weight: 500;
    color: #252b3a;
    line-height: 25px;
  }
  .time {
    display: flex;
    div {
      padding: 5px 40px 5px 0;
    }
  }
  .tabs {
    border: 1px solid #aeb0b8;
    .all-day {
      // display: inline-block;
      margin: 0 26px 26px;
    }
    .what-day:last-child {
      border-bottom: 1px solid #aeb0b8;
    }
    .what-day {
      // height: 200px;
      display: flex;
      align-items: center;
      border-top: 1px solid #aeb0b8;
      border-left: 1px solid #aeb0b8;
      .every {
        // height: 198px;
        padding: 0px 10px;
      }
      .every-info {
        border-left: 1px solid #aeb0b8;
        .day-info {
          .travelTime,
          .travelTitle {
            text-align: center;
            // width: 500px;
            padding: 5px;
            border-right: 1px solid #aeb0b8;
            // border-bottom: 1px solid #aeb0b8;
          }
          .travelTime:not(:last-child),
          .travelTitle:not(:last-child) {
            // border-right: 1px solid #aeb0b8;
            border-bottom: 1px solid #aeb0b8;
          }
          // .type-pay:not(:last-child) {
          //   border-bottom: 1px solid #aeb0b8;
          // }
          .type-pay {
            border-bottom: 1px solid #aeb0b8;
            border-right: 1px solid #aeb0b8;
            .ant-row {
              height: 100%;
            }
            .travelGoods,
            .remark {
              text-align: center;
              // width: 400px;
              padding: 5px;
              border-right: 1px solid #aeb0b8;
            }
            .money {
              text-align: center;
              // width: 80px;
              padding: 5px;
            }
            .money:not(:last-child) {
              border-right: 1px solid #aeb0b8;
            }
          }
        }
      }
    }
  }
  .math {
    border: 1px solid #aeb0b8;
    .math-name {
      text-align: right;
      padding-right: 5px;
    }
    .math-value {
      text-align: center;
      border-left: 1px solid #aeb0b8;
    }
  }
}
