.survey-content {
  .charts {
    float: left;
  }
  .des {
    float: left;
    margin-left: 100px;
    border: 1px solid #999;
    width: 400px;
    height: 400px;
    div {
      margin: 20px;
    }
  }
}
