.TemplateItem__root {
  position: relative;
  width: calc(375px / 1.5);
  height: calc(660px / 1.5);
  background: #cccccc;
  margin-left: 12px;
  margin-top: 20px;

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  p {
    width: 100%;
  }
}
